@media (max-width: 575px) {
  nav.navbar .container {
    width: 100%;
  }

  .breadcrumb li {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.navbar-expand-lg .navbar-nav .nav-item a.nav-link {
  color: #333;
  margin: 0 5px;
  font-weight: 400;
  font-size: 0.95em;
}

.navbar-expand-lg .navbar-nav .nav-item a.nav-link:hover {
   color: #999;
}

.navbar-expand-lg .navbar-nav .nav-item a.nav-link.active {
  color: #999;
  font-weight: bold;
}
